<div class="home_div">
    <div class="home_text_div">
        <h1>Empowering Informed Decisions Through Data and Dialogue</h1>
        <p>
            <!--Just copied the text from the screen sequence; this can be changed at any time-->
            Scientific Self Determination is a framework dedicate to fostering collective
            intelligence and evidence-based decision-making. We believe in providing robust tools
            and transparent processes to empower communities, organizations, and individuals to
            navigate complex challenges with clarity and confidience. Explore how our methodologies
            can transform your approach to governance, policy, and intervention.
        </p>
    </div>
    <div class="home_image_div">
        <img class="home_image" alt="A placeholder with black text and white background" src="/static/assets/home_page_image.png"/>
    </div>
</div>